# Dataframes

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(np.arange(16).reshape(4,4),index=['Ohio','Colorado','Texas','Ohio1'], columns = ['One','Two','Three','Four'])
data

          One  Two  Three  Four
Ohio        0    1      2     3
Colorado    4    5      6     7
Texas       8    9     10    11
Ohio1      12   13     14    15

In [4]:
data[['Four','One','Two','Three']]
# on peut sélectionner par colonne mais pas par ligne...

          Four  One  Two  Three
Ohio         3    0    1      2
Colorado     7    4    5      6
Texas       11    8    9     10
Ohio1       15   12   13     14

In [5]:
data.reindex(['Texas','Colorado','Ohio']) # reindex pas possible si un index apparaît deux fois...

          One  Two  Three  Four
Texas       8    9     10    11
Colorado    4    5      6     7
Ohio        0    1      2     3

In [6]:
data.reindex(columns=['Two','Three','One','Four'])

          Two  Three  One  Four
Ohio        1      2    0     3
Colorado    5      6    4     7
Texas       9     10    8    11
Ohio1      13     14   12    15

In [19]:
data

          One  Two  Three  Four
Ohio        0    1      2     3
Colorado    4    5      6     7
Texas       8    9     10    11
Ohio1      12   13     14    15

In [21]:
data.loc['Colorado',['Two','Three']]
#localisation

Two      5
Three    6
Name: Colorado, dtype: int32

In [22]:
data.iloc[2,[3,0,1]] #integer localisation.

Four    11
One      8
Two      9
Name: Texas, dtype: int32

In [23]:
data.loc[:'Ohio1','Two']

Ohio         1
Colorado     5
Texas        9
Ohio1       13
Name: Two, dtype: int32

In [29]:
data.loc[:'Ohio1','Fourteen'] = [4,2,5,1] #remark: add a new column if not exists

__Remark:__ .loc isn't a method it returns an object you can access with the brackets __[ ]__

In [28]:
data

          One  Two  Three  Four  Fourteen
Ohio        0    1      2     3         4
Colorado    4    5      6     7         2
Texas       8    9     10    11         5
Ohio1      12   13     14    15         1

In [8]:
f = lambda x: x.max()
data.apply(f)

One      12
Two      13
Three    14
Four     15
dtype: int64

In [9]:
data.applymap(f) # marche pas super bien ...

AttributeError: ("'int' object has no attribute 'max'", 'occurred at index One')

In [ ]:
f = lambda x: x.min()
data.apply(f)

In [ ]:
f = lambda x: x
data.apply(f)

__Résultat :__ 
- x est une liste qui contient toute la colonne
- si on fait une égalité avec une liste on obtient à nouveau un dataframe
- si on fait une égalité avec une valeur on obtient une série...
- en fait la dimension dépendra de ce que l'on met en return
- pour agir sur la valeur, on utilise la méthode applymap

## Randon

In [ ]:
dataR = pd.DataFrame(np.random.randn(4,4),index=['a','b','c','d'])
dataR

# Ranking

In [ ]:
# n = 17
# dataA = pd.DataFrame(np.arange(n*n).reshape(n,n))
# dataA%5==3

In [ ]:
# list('adfadfafd')

In [ ]:
obj = pd.Series([7,7,5,5,5,4])

In [ ]:
obj

In [ ]:
obj.rank()

__Sytnhèse :__
- on attribue à chaque objet un ranking
- si on a deux valeurs doublons on fait la moyenne de chaque ranking ?? (option par défaut...)

# 5.3 Summarizing and Computing Descriptive Statistics
*page 158 à 164*
- somme, mean, idsmax, cumsum, describe
- correlation and covariance
- unique values, value counts and membership

In [ ]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],
                 [np.nan,np.nan],[0.75,-1.3]],
                 index=['a','b','c','d'],
                 columns=['one','two'])
df

In [ ]:
print(1.4+7.1+0.75)
print(-4.5-1.3)
print()
print(df.sum())

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns',skipna=False)

__Options des méthodes de réduction :__
- axes
- skip NaN
- level (?)

In [ ]:
df

In [ ]:
df.idxmax() # retourne les coordonnées xy du maximum puis du minimum

In [ ]:
df.cumsum() # somme cumulative par colonne

In [ ]:
df

In [ ]:
df.describe() # mean sans prendre en compte NaN ni dans calcul, ni dans nombre pour faire moyenne

In [ ]:
# .diff for time series ??

## Values, Value Counts and Membership

Dans un premier temps on travaille sur des __séries__

In [ ]:
obj = pd.Series(['c','a','d','a','a','b','b','c','c'])
obj.unique()

In [ ]:
obj.value_counts()

In [ ]:
obj.isin(['b','c'])

In [ ]:
obj.value_counts()