In [23]:
import pandas as pd
import numpy as np
athletes = pd.read_csv('../data/athlete_events.csv')

# Statistique sur tout

In [5]:
athletes['Age'].mean()

25.556898357297374

In [6]:
athletes['Age'].std()

6.393560847032701

In [7]:
athletes['Weight'].mean()

70.70239290053351

In [8]:
athletes['Weight'].std()

14.348019999019845

# Statistiques par regroupement sportif

In [9]:
athletesData = athletes[['Sport','Age','Weight','Height']]

In [10]:
def sortedDada(athletes, method=max, cell='Height'):
    transformed = athletesData.groupby('Sport').aggregate(method)
    transformed = transformed.sort_values(by=cell,ascending=False)[cell]
    return pd.Series.to_frame(transformed)

In [11]:
def methodComparison(method1=np.median,method2=np.mean,data=athletesData,cell='Height'):
    by_method1 = sortedDada(athletesData,method1,cell)
    by_method2 = sortedDada(athletesData,method2,cell)
    by_method1.loc[:,'method 2 name'] = by_method2.index
    by_method1.loc[:,'method 2'] = by_method2[cell]
    return by_method1

In [12]:
methodComparison(cell='Height')[:20]

                   Height      method 2 name    method 2
Sport
Basketball          190.0         Basketball  190.869879
Volleyball          187.0         Volleyball  186.994822
Beach Volleyball    186.0   Beach Volleyball  186.144954
Water Polo          185.0         Water Polo  184.834648
Rowing              185.0             Rowing  184.172222
Handball            183.0           Handball  183.384592
Baseball            183.0           Baseball  182.599291
Bobsleigh           182.0         Tug-Of-War  181.437500
Tug-Of-War          182.0          Bobsleigh  182.480000
Motorboating        181.0       Motorboating  181.000000
Ice Hockey          180.0         Ice Hockey  178.901323
Tennis              180.0             Tennis  178.898139
Canoeing            179.0           Swimming  178.539568
Sailing             179.0           Canoeing  178.262199
Jeu De Paume        178.5       Jeu De Paume  178.500000
Swimming            178.0            Sailing  178.562454
Modern Pentathlon   178.0  Modern Pentathlon  177.944316
Fencing             178.0            Fencing  177.164177
Polo                177.5          Taekwondo  175.500000
Ski Jumping         177.0               Luge  176.402757

In [13]:
basketplayer = athletes[athletes['Sport']=='Swimming'].groupby('Games').aggregate(np.median)
basketplayer[['Weight']].plot()

# Autres tests

In [14]:
test = methodComparison(cell='Height')[:20]

In [15]:
idx1 = pd.Index(['foo','foo','bar','bar'])

In [16]:
idx2 = pd.Index(['faa','foo','bar','bar'])

In [17]:
idx1.is_unique

False

In [18]:
np.arange(16).reshape((4,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

# Evolution des sports

In [25]:
athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [45]:
athletes[['Year','Sport']].sort_values(by=['Year','Sport'],ascending=False)[:20]

      Year      Sport
450   2016  Wrestling
589   2016  Wrestling
613   2016  Wrestling
1285  2016  Wrestling
1552  2016  Wrestling
1624  2016  Wrestling
1667  2016  Wrestling
2734  2016  Wrestling
2926  2016  Wrestling
2952  2016  Wrestling
4093  2016  Wrestling
4335  2016  Wrestling
4383  2016  Wrestling
4581  2016  Wrestling
4716  2016  Wrestling
6115  2016  Wrestling
6304  2016  Wrestling
7557  2016  Wrestling
8049  2016  Wrestling
8158  2016  Wrestling