In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../data/cluster.csv')

In [15]:
df

              cluster                  Time Coverage  Size
0                   0      0 days 00:00:00.000000000     3
1                   1      0 days 00:00:00.000000000     2
2                   2    181 days 00:00:00.000000000     2
3                   3      0 days 00:00:00.000000000     2
4                   4      0 days 00:00:00.000000000     2
5                   5      0 days 00:00:00.000000000     2
6                   6      0 days 00:00:00.000000000     2
7                   7      1 days 00:00:00.000000000     2
8                   8     42 days 00:00:00.000000000     2
9                   9      0 days 00:00:00.000000000     2
10                 10      0 days 00:00:00.000000000     2
11                 11      0 days 00:00:00.000000000     2
12                 12      0 days 00:00:00.000000000     2
13                 13      0 days 00:00:00.000000000     2
14                 14      1 days 00:00:00.000000000     2
15                 15      0 days 00:00:00.000000000     2
16                 16      0 days 00:00:00.000000000     2
17                 17      0 days 00:00:00.000000000     2
18                 18     91 days 00:00:00.000000000     2
19                 21      0 days 00:00:00.000000000     2
20                 22      0 days 00:00:00.000000000     2
21                 23      0 days 00:00:00.000000000     2
22                 24      0 days 00:00:00.000000000     2
23                 25      0 days 00:00:00.000000000     2
24                 26      1 days 00:00:00.000000000     2
25                 27      0 days 00:00:00.000000000     2
26                 28    118 days 00:00:00.000000000     2
27                 30    381 days 00:00:00.000000000     3
28                 32    119 days 00:00:00.000000000     3
29                 35     81 days 00:00:00.000000000     2
...               ...                            ...   ...
1150365  266288139146      0 days 00:00:00.000000000     2
1150366  266288139181   1463 days 00:00:00.000000000     2
1150367  266288140512     21 days 00:00:00.000000000     2
1150368  266288141589  11612 days 00:00:00.000000000     2
1150369  266288141868     17 days 00:00:00.000000000     2
1150370  266288141938      8 days 00:00:00.000000000     2
1150371  266288142026      0 days 00:00:00.000000000     2
1150372  266288143333      0 days 00:00:00.000000000     2
1150373  266288143470      0 days 00:00:00.000000000     2
1150374  266288143843      0 days 00:00:00.000000000     2
1150375  266288144207      0 days 00:00:00.000000000     2
1150376  266288145160      0 days 00:00:00.000000000     2
1150377  266288149314      0 days 00:00:00.000000000     2
1150378  266288150159      0 days 00:00:00.000000000     2
1150379  266288151334      3 days 00:00:00.000000000     2
1150380  266288151955      9 days 00:00:00.000000000     2
1150381  266288151967      9 days 00:00:00.000000000     2
1150382  266288154332      0 days 00:00:00.000000000     2
1150383  266288154425      0 days 00:00:00.000000000     2
1150384  266288160019     30 days 00:00:00.000000000     2
1150385  266288160027      0 days 00:00:00.000000000     2
1150386  266288160109      0 days 00:00:00.000000000     2
1150387  266288161744      9 days 00:00:00.000000000     2
1150388  266288162086    364 days 00:00:00.000000000     2
1150389  266288162087      0 days 00:00:00.000000000     2
1150390  266288163328      7 days 00:00:00.000000000     2
1150391  266288163343      7 days 00:00:00.000000000     2
1150392  266288164982      0 days 00:00:00.000000000     2
1150393  266288166047    918 days 00:00:00.000000000     2
1150394  266288169878    140 days 00:00:00.000000000     2

[1150395 rows x 3 columns]